@model List<Pizze>

@{
    // ViewData["Title"] = "Home Page"; // -- impostazione pagina predefinita
    Layout = null;  // Per disattivare il layout della pagina predefinito
}

    </div>
    <div class="poster">
        <div class="poster__img">
            <img src="img/pizzeria2.png" alt="">
        </div>
        <div class="poster__content">
            <h3 class="big-text">Sentiti a casa</h3>
            <p>L’estetica di una location raffinata, un’architettura elegante e una cucina innovativa ma tradizionale: Il nostro ristorante è la dimostrazione di come tutto questo possa coesistere in un unico spazio</p>
        </div>
    </div>

    <div class="poster mtop-3">
    
    <div class="poster__content">
        <h3 class="big-text">Tra tradizione e innovazione</h3>
        <p>Da una delle famiglie di pizzaioli più antiche di Napoli. Gino cresce nella pizzeria di famiglia e ben presto impara i segreti della vera pizza napoletana</p>
    </div>
    <div class="poster__img">
        <img src="img/pexels-vincent-rivaud-2295285.jpg" alt="">
    </div>
    </div>

<div class="grid mtop-3" id="scopriDiPiù">
    <div class="col">
        <h3 class="big-text">Le nostre pizze</h3>
    </div>
    <div class="col">
        <p>La nuova frontiera è l’utilizzo di farine di agricoltura biologica e l’aggiornamento continuo dei propri menù data la continua e costante ricerca delle migliori eccellenze gastronomiche italiane da proporre sulla pizza e da far conoscere attraverso la pizza…</p>
    </div>
</div>

    

    <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div class="carousel-cell"><a href="/Home/PizzaMargherita"><img src="~/img/margherita.jpg" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaPepperoni"><img src="~/img/Pepperoni-pizza.png" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaOrtolana"><img src="~/img/pizza-ortolana.jpg" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaCrudaiola"><img src="~/img/pizza-crudaiola.jpg" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaQuattroStagioni"><img src="~/img/pizza-quattroStagioni.jpg" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaVegetariana"><img src="~/img/pizza-vegetariana.png" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaTonnoCipolle"><img src="~/img/pizza-tonno-cipolle.jpg" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaPesto"><img src="~/img/pizza-pesto.jpg" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaPrimavera"><img src="~/img/pizza-primavera2.png" class="img-fluid pizze" alt="..."></a></div>
    <div class="carousel-cell"><a href="/Home/PizzaFantasia"><img src="~/img/Pizza-Fantasia.jpg" class="img-fluid pizze" alt="..."></a></div>
</div>

        

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista posts</h1>
            </div>

            <a class="btn btn-primary"
                href="@Url.Action("Create", "Post")">
                Nuova pizza
            </a>

            @if(Model.Count() == 0)
            {
                <h3>Non ci sono Pizze Presenti</h3>
            } else
            {
                <table class="table post-list-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Immagine</th>
                        <th>Nome</th>
                        <th>Descrizione</th>
                    </tr>
                </thead>
                <tbody>

                        @foreach (Pizze pizzaNellaLista in Model)
                        {
                            <tr>
                                <td>@pizzaDellaLista.Id</td>
                                
                                <td class="immagine"><img class="post-list-image" src="@postDellaLista.Immagine"></td>
                                <td class="nome">@postDellaLista.Nome</td>
                                <td class="descrizione">@pizzDellaLista.Descrizione</td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Post", new { id = pizzaDellaLista.Id })">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </a>
                                </td>
                            </tr>
                            
                        }
                  </tbody>
                </table>
            }
        </div>
    </div>
</div>

@section OtherSection {

<footer>
    <div class="container">
        <p>Footer</p>
    </div>
</footer>
}


  
<div class="poster mtop-3">
    
    <div class="poster__content">
        <h3 class="big-text">Da oggi gustaci anche a casa tua!</h3>
        <p>Il nostro servizio delivery è attivo 7 giorni su 7 dalle oe 11:00 alle 24:00. Goditi la bontà delle nostre pizze comodamente seduto sul tuo divano</p>
        <a href="" class="button">Ordina adesso</a>
    </div>
    <div class="poster__img">
        <img src="img/delivery.jpg" alt="">
    </div>
</div>

<footer class="footer mtop-3">
<div class="grid">
    <div class="col">
        <h4 class="normal-text tw">Chi siamo</h4>
        <p>Pizza Restaurant</p>
    </div>
    <div class="col">
        <h4 class="normal-text tw">Dove ci trovi</h4>
        <p>25 Sandys Row, Londra E1 7HW Inghilterra</p>
    </div>
    <div class="col">
        <h4 class="normal-text tw">Lavora con noi</h4>
        <p>Pizza.Restaurant@gmail.com</p>
        <p>+(00) 0001112223334</p>

    </div>
    <div class="col">
        <h4 class="normal-text tw">I nostri contatti</h4>
        <p>Email</p>
        <p>Instagram</p>
        <p>Facebook</p>
    </div>
</div>
</footer>
